<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
    <h1>Order details</h1>
    <% let totalAmount = 0; %>
    
    <% data.products.forEach((product, index) => { %>
      <p>Product <%= index + 1 %> details:</p>
      <p>ProductId: <%= product.productId %></p>
      <p>Quantity: <%= product.quantity %></p>
      <p>Unit Price: <%= product.unit_price %></p>
      <p>Total Price: <%= product.unit_price * product.quantity %></p>
      <hr />

      <% totalAmount += product.unit_price * product.quantity; %>
      <% }); %>
    
      <p>Total Amount to be Paid: <%= totalAmount %></p>

    <p>Thank you for placing your order!</p>
</body>
</html>
